@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Inter",sans-serif;
  background:#0a0a0a;
  color:#ffffff;
  overflow-x:hidden;
}

.container{
  width:min(1200px,92%);
  margin:auto;
}

section{
  padding:100px 0;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
  display:block;
}

button{
  cursor:pointer;
  border:none;
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
}

::selection{
  background:#facc15;
  color:#000;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#111;
}

::-webkit-scrollbar-thumb{
  background:#facc15;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#eab308;
}